:root {
  --main-color-light-one: #fffcff;
  --main-color-light-two: #f3e4ce;
  --main-color-dark: #101119;
  --secondary-color: #1436cc;
  --accent-color-one: #d90368;
  --accent-color-two: #ffdd1f;
  --main-font: "Roboto", sans-serif;
  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-low: 0px 0.6px 0.7px hsl(var(--shadow-color) / 0.08),
    0px 1.1px 1.3px -1px hsl(var(--shadow-color) / 0.1),
    0px 2.6px 3.1px -2px hsl(var(--shadow-color) / 0.11);
  --shadow-elevation-medium: 0px 0.6px 0.7px hsl(var(--shadow-color) / 0.09),
    0px 2.3px 2.8px -0.7px hsl(var(--shadow-color) / 0.1),
    0.1px 5.5px 6.6px -1.3px hsl(var(--shadow-color) / 0.11),
    0.2px 12.8px 15.4px -2px hsl(var(--shadow-color) / 0.12);
  --shadow-elevation-high: 0px 0.6px 0.7px hsl(var(--shadow-color) / 0.08),
    0.1px 4.3px 5.2px -0.3px hsl(var(--shadow-color) / 0.09),
    0.1px 8px 9.6px -0.6px hsl(var(--shadow-color) / 0.09),
    0.2px 12.6px 15.1px -0.9px hsl(var(--shadow-color) / 0.1),
    0.3px 19.5px 23.4px -1.1px hsl(var(--shadow-color) / 0.1),
    0.4px 29.6px 35.5px -1.4px hsl(var(--shadow-color) / 0.11),
    0.6px 44.1px 52.9px -1.7px hsl(var(--shadow-color) / 0.11),
    0.9px 64.2px 77px -2px hsl(var(--shadow-color) / 0.12);
  --neutral-card-clr-900: hsl(207, 19%, 9%);
  --neutral-card-clr-100: hsl(0, 0%, 100%);
  --accent-card-clr-400: hsl(142, 90%, 61%);
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  height: 100%;
}

body {
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto 1fr;
  font-family: var(--main-font);
  background-color: var(--main-color-light-one);
}

.navigation {
  padding: 1rem;
  background-color: var(--main-color-dark);
  color: var(--main-color-light-one);
  box-shadow: var(--shadow-elevation-low);
}

/* CARD */
.card {
  color: var(--neutral-card-clr-100);
  background-image: url(../img/League-of-Legends.jpg);
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 35ch;
  border-radius: 0.25rem;
  overflow: hidden;
  box-shadow: var(--shadow-elevation-medium);
}

.card-content {
  --padding: 1.5rem;
  padding: var(--padding);
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(20 0% 0% / 0.3) 20%,
    hsl(0 0% 0% / 1)
  );
}

.card-title {
  position: relative;
  width: max-content;
}

.card-title::after {
  content: "";
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1);
  bottom: 0;
  width: calc(100% + var(--padding));
  background: var(--accent-card-clr-400);
}

.card-body {
  color: rgb(255 255 255 / 0.85);
}

input.checkbox {
  accent-color: var(--accent-card-clr-400);
}

.display-grid {
  margin-top: 1.5rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
}
